{% extends "base.html" %}
{% load staticfiles %} 

{% block main %}
<!-- Header -->

</div>

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to our website</h1>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">We offer a wide range of service management, agency and consultancy services, for both investors and occupiers. We will put at your disposal our knowledge and expertise of the area to enable you to make the right decision on your service and team management.</p>
                <p>Feel free to <a href="#">get in touch with us</a> about anything you see online</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Recommend a friend</h2>
                <p class="lead">If you introduce a friend to us and if they use our services, you both win!</p>
                <a href="#" class="btn btn-default btn-lg"><span class="network-name flaticon-money363"> Find out more</span></a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static "img/recommend-a-friend.png" %}" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

{% endblock %}