{% extends "base.html" %}

{% load i18n %}

{% block main %}
    <div class="row">
    <h3> My Team: {{ team.name }} </h3>
    <h4> Manager: {{ team.owner.email }} </h4>
    <div class="col-md-6">
     <table class="table table-hover">
      <caption>Member List</caption>
      <tbody>
      {% for member in members %}
        <tr>
          <td>{{ member.email }}</td>
        </tr>
      {% endfor %}
      </tbody>
     </table>  
    </div>

    <div class="col-md-6">
     <table class="table table-hover">
      <caption>Service List</caption>
      <tbody>
      {% for service in services %}
        <tr>
          <td>{{ service.name }}</td>
        </tr>
      {% endfor %}
      </tbody>
     </table>  
    </div>    
  </div>
{% endblock %}
