{% extends "base.html" %}

{% load i18n %}

{% block main %}
  <div class="row">
  <div class="col-md-10">
    {% if account %}
    <h3> Current Option: {{ account.name }} </h3>
    <hr>
    <p> Card number: **** **** **** {{ teamuser.last4_card_num }}</p>
    <p> Expiratoin Date: {{ teamuser.exp_date }}</p>
    <p> Bill Amount: ${{ account.budget }}</p><br>
    <p>You can create up to <b>{{ account.team_limit }}</b> teams with this account.</p>
    <hr>
    <a href="#" onclick="cancel_account();" class="btn btn-primary" style="margin-right:20px;"> Cancel Account </a>    
    {% else %}
    <h3> Current Option: Free </h3>
    <hr>
    <p> You don't have bill information. </p>
    <p> Your activity with this account is limited. </p>
    {% if teamuser.exp_date %}
    <p> You can manage your team(s) until {{ teamuser.exp_date }}. </p>
    {% endif %}
    <hr>
    {% endif %}
    <a href="/update_account" class="btn btn-primary" style="margin-right:20px;"> Update Account </a>    
  </div>  
  </div>  
  <!-- Account Cancel Confirm Modal -->
  <div id="account_cancel_dlg" title="Cancel current account" style="display:none;">
    <form id="account-cancel-form">
    {% csrf_token %}
    <div style="padding: 18px 0px 16px 3px;">
    <p>
    Your account is canceled after current expiration date.</p>
    </div>
    </form>
  </div>  

{% endblock %}
